.main-section {
    
   
    
    
    
   


    
    &__header {
        font-size: 2.1em;
       
    }

    &__article {
       
    }

    &__ul-margin {
        margin-top: 29px;
        
        list-style: none;
    }

    &__code-output {
        margin-left: 42px;
    }
    
    &__bullet-point-margin {
        margin-bottom: 19px;
    }
}