.ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    li {
        padding-bottom: 30px;
        list-style: none;

        @mixin atLarge {
            padding-bottom: 50px;
        }

        a {
            text-decoration: none;

            @mixin atMedium {
               
        
                @mixin atMedium--height {
                    font-size: 1.3rem;
                }
            }

            @mixin atLarge {
                font-size: 1.5rem;
            }
        }
    }
}